<head>

    <meta charset="utf-8">
    <title>Jobegiar99's Projects</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../static/styles/forms.css">
    <link rel='icon' href='./static/img/mudkip.png'>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "formsContainer">
    <form action ="/adminCheckProjectsHelper" method = "post" enctype="multipart/form-data">
        <div align = "center" class = "form-group">
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "adminPassword">Admin Password</label>
                    <input required name = "adminPassword" placeholder="Stop there adventurer! Only the admin may proceed :(" type="password" accept="image/gif" class="form-control">
                </div>
            </div>
            
            <br>
            <div class = "row">
                
                <div class = "col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </form>
    <div class = "row" align = "center">
        <div class = "col" align = "center">
            <form action = "./projects" method = "post">
                <button class = "btn btn-dark"> I'm not the admin :( -- return  </button>
            </form>
        </div>
    </div>
</body>